= render partial: "layouts/header"
.konsekibody
  .konsekibody__contents
    .konsekibody__contents__mainbox
    
      .group1
        .sub-box-name
          強化したい装備
        .sub-box1
          //= f.text_field, class: 'sub-box1__status', placeholder: "A / MA"

      .group2
        .sub-box-name
          使う強化書
        .sub-box2

      .group3
        .sub-box-name
          強化回数
        .sub-box3

      .group4
        .sub-box-name
          結果物
        .sub-box4