= render partial: "layouts/header"
.konsekibody
  .konsekibody__contents
    .konsekibody__contents__mainbox
      .sub-box-name
      .sub-box1
        //= f.text_field, class: 'sub-box1__status', placeholder: "A / MA"

      .sub-box-name
      .sub-box2

      .sub-box-name
      .sub-box3

      .sub-box-name
      .sub-box4