* {
  text-align                : center;
  a {
    color                   : black;
    text-decoration         : none;
  }
}


@media screen and (min-width: 767px) {                  //pc表示
  .body {
    background                : url(ms-haikei-2.jpg);
    background-size           : cover;
    background-repeat         : no-repeat;
    height                    : 475px;
    margin                    : 20px 40px 0 40px;
    max-width                 : 100%;
    border-top-left-radius    : 20px;
    border-top-right-radius   : 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius : 20px;
    &__contents {

      position                : relative;

      &__rightbox {
        float                 : right;
        margin                : 130px 300px 0 0 ;
        &__inside {
          font-weight         : bold;
          font-size           : 20px;

          .btn-to-konseki {
            display           : inline-block;
            text-decoration   : none;
            color             : #67c5ff;
            background-color  : white;
            width             : 220px;
            height            : 220px;
            line-height       : 220px;
            border-radius     : 50%;
            border            : solid 2px #67c5ff;
            text-align        : center;
            overflow          : hidden;
            font-weight       : bold;
            transition        : .4s;
          }
          .btn-to-konseki:hover {
            background        : #67c5ff;
            color             : white;
          }
        }
      }


      &__leftbox {
        float                 : left;
        margin                : 130px 0 0 300px ;
        &__inside {
          font-weight         : bold;
          font-size           : 20px;
          
          .btn-to-sf {
            display           : inline-block;
            text-decoration   : none;
            color             : black;
            background-color  : white;
            width             : 220px;
            height            : 220px;
            line-height       : 220px;
            border-radius     : 50%;
            border            : solid 2px black;
            text-align        : center;
            overflow          : hidden;
            font-weight       : bold;
            transition        : .4s;
          }
          .btn-to-sf:hover {
            background        : black;
            color             : rgb(255, 230, 0);
          }
        }
      }
    }
  }
}


@media screen and (max-width: 479px) {                  // スマホ表示
  .body {
    background                : url(ms-haikei-2.jpg);
    background-size           : cover;
    background-repeat         : no-repeat;
    margin                    : 20px 40px 10px 40px;
    border-top-left-radius    : 20px;
    border-top-right-radius   : 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius : 20px;
    &__contents {

      position                : relative;

      &__rightbox {
        &__inside {
          font-weight         : bold;
          font-size           : 20px;

          .btn-to-konseki {
            display           : inline-block;
            text-decoration   : none;
            color             : #67c5ff;
            background-color  : white;
            width             : 200px;
            height            : 200px;
            line-height       : 200px;
            border-radius     : 50%;
            border            : solid 2px #67c5ff;
            text-align        : center;
            overflow          : hidden;
            font-weight       : bold;
            transition        : .4s;
            margin-top        : 30px;
          }
          .btn-to-konseki:hover {
            background        : #67c5ff;
            color             : white;
          }
        }
      }


      &__leftbox {
        &__inside {
          font-weight         : bold;
          font-size           : 20px;
          
          .btn-to-sf {
            display           : inline-block;
            text-decoration   : none;
            color             : black;
            background-color  : white;
            width             : 200px;
            height            : 200px;
            line-height       : 200px;
            border-radius     : 50%;
            border            : solid 2px black;
            text-align        : center;
            overflow          : hidden;
            font-weight       : bold;
            transition        : .4s;
            margin            : 30px 0 30px 0;
          }
          .btn-to-sf:hover {
            background        : black;
            color             : rgb(255, 230, 0);
          }
        }
      }
    }
  }
}