= render partial: "layouts/header"
.body
  .body__contents
    .body__contents__rightbox
      .body__contents__rightbox__inside
        = link_to "痕跡強化シミュレーション", new_konseki_path
    .body__contents__leftbox
      .body__contents__leftbox__inside
        = link_to "スタフォ強化シミュレーション", new_starforce_path