= render partial: "layouts/header"
.body
  .body__contents
    .body__contents__rightbox
      .body__contents__rightbox__inside
        %a.btn-to-konseki{:href => "/konsekis/new"} ◎痕跡強化へ

    .body__contents__leftbox
      .body__contents__leftbox__inside
        %a.btn-to-sf{:href => "/starforces/new"} ◎スターフォース強化へ