* {
  a {
    color               : black;
    text-decoration     : none;
  }
}

.konseki-body {
  background-color      : #f5f5f5;
  background-size       : cover;
  background-repeat     : no-repeat;
  height                : 100vh;
  position              : relative;
  &__contents {
    width               : 100%;
    max-width           : 1040px;
    position            : relative;
    &__form {
      width             : 900px;
      background-color  : #d4d3d3;
      position          : absolute;
      margin            : 57px 0 0 270px;

      .field-label {
        font-weight     : bold;
        margin          : 30px 0 10px 0; 
      }
      .konseki-box{
        height          : 30px;
        margin          : 5px;
      }
      #k-kaisu {
        height          : 30px;
      }


      .field1 {
        .field-input1 {
        }
      }

      .field2 {
        .field-input2 {
        }
      }

      .field3 {
        .field-input3-1 {
          margin        : 2px;
        }
        .field-input3-2 {
          margin        : 2px;
          padding-right : 46px;
        }
      }

      .field4 {
        margin-top      : 70px;
        padding-bottom  : 25px;
        .field-input4-1 {
          margin        : 2px;
        }
        .field-input4-2 {
          margin        : 2px;
          padding-right : 46px;
        }
      }
      .reset-btn {
        margin-bottom: 20px;
      }
    }
  }
}