%select{name: "sf-require-level", class: "sf-box", id: "sf-require-level"}
  %option{value: "0"} 0 (必須レベル)
  %optgroup{label: "武器"} 
  %option{value: "140"} Lv: 140
  %option{value: "150"} Lv: 150
  %option{value: "160"} Lv: 160
  %option{value: "200"} Lv: 200
  %optgroup{label: "防具"} 
  %option{value: "141"} Lv: 140
  %option{value: "151"} Lv: 150
  %option{value: "161"} Lv: 160
  %option{value: "201"} Lv: 200