%select{name: "sf-am-kaisu-under15", class: "sf-box", id: "sf-ama-kaisu-under15"}
  %option{value: "0"} 強化しない (攻撃or魔力)
  %optgroup{label: "何星強化する？"} 
  %option{value: "1"} ☆ 1
  %option{value: "2"} ☆ 2
  %option{value: "3"} ☆ 3
  %option{value: "4"} ☆ 4
  %option{value: "5"} ☆ 5
  %option{value: "6"} ☆ 6
  %option{value: "7"} ☆ 7
  %option{value: "8"} ☆ 8
  %option{value: "9"} ☆ 9
  %option{value: "10"} ☆ 10
  %option{value: "11"} ☆ 11
  %option{value: "12"} ☆ 12
  %option{value: "13"} ☆ 13
  %option{value: "14"} ☆ 14
  %option{value: "15"} ☆ 15

%select{name: "sf-status-kaisu-under15", class: "sf-box", id: "sf-status-kaisu-under15"}
  %option{value: "0"} 強化しない (メインステータス)
  %optgroup{label: "何星強化する？"} 
  %option{value: "1"} ☆ 1
  %option{value: "2"} ☆ 2
  %option{value: "3"} ☆ 3
  %option{value: "4"} ☆ 4
  %option{value: "5"} ☆ 5
  %option{value: "6"} ☆ 6
  %option{value: "7"} ☆ 7
  %option{value: "8"} ☆ 8
  %option{value: "9"} ☆ 9
  %option{value: "10"} ☆ 10
  %option{value: "11"} ☆ 11
  %option{value: "12"} ☆ 12
  %option{value: "13"} ☆ 13
  %option{value: "14"} ☆ 14
  %option{value: "15"} ☆ 15